
.upload-page{

    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    padding: 20px;
    
}


.formcentr{
    display: flex;
    
    align-items: right;
    
}
.planText{
    margin-bottom: 16px !important;
}